* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, arial, sans-serif;
    color: #3D3D3D;
}

h1 {
    font-style: italic;
    color: #FF6F00;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

#webcamButton {
    width: 200px;
    height: 80px;
    background-color: yellowgreen;
    color: white;
    position: absolute;
    border-radius: 50;
    position: absolute;
    z-index: 1000;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    position: relative;
    width: calc(100% - 20px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camView p {
    position: absolute;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}